In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
import matplotlib.pyplot as plt

In [4]:
sns.set_style("whitegrid")

In [5]:
df=pd.read_csv('2. Python_M10_support material.csv', na_values='na')

In [6]:
df[['limite_credito','valor_transacoes_12m']].dtypes

limite_credito          object
valor_transacoes_12m    object
dtype: object

In [7]:
df[['limite_credito','valor_transacoes_12m']].head()

  limite_credito valor_transacoes_12m
0      12.691,51             1.144,90
1       8.256,96             1.291,45
2       3.418,56             1.887,72
3       3.313,03             1.171,56
4       4.716,22               816,08

In [8]:
fn = lambda valor: float(valor.replace(".","").replace(",","."))

In [9]:
df['valor_transacoes_12m'] = df['valor_transacoes_12m'].apply(fn)

In [10]:
df['limite_credito'] = df['limite_credito'].apply(fn)

In [11]:
df.dropna(inplace=True) #remove lnhas problematicas